@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  margin-left: 1rem;
}

body {
  touch-action: pan-x pan-y;
}

/* body {
  overflow: hidden;
} */

.center-horizontal {
  @apply left-1/2 transform -translate-x-1/2;
}

.center-absolute {
  @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
